/* Modal windows */
.modal-title { text-align: center; }

.form-group
{
  float: left;
  width: 40%;
  margin-right: 10%;
}

.modal-footer
{
  clear: both;
}

/* TODO Move to the Bed Board module (ewd-vista-bedboard)!!! */

/* Bed Board */
/*
#ward .tooltip {
  cursor: default;
}
*/
