/* General */
.form-group small { display: block; }

.form-group .form-control-feedback {
  position: static;
  z-index: initial;
  width: auto;
  height: auto;
  text-align: left;
}

/* Modal windows */
.modal-title { text-align: center; }

.modal-body.form-group
{
  float: left;
  width: 40%;
  margin-right: 10%;
}

.modal-footer { clear: both; }

body {
    color: #555;
    font-size: 12px;
    font-family: 'Source Sans Pro', sans-serif;
}

footer {
    background-color: #132F50;
    bottom: 0px;
    color: #fff;
    z-index: 1000
}

footer * {
    background-color: inherit;
}

.clear-bottom-margin {
  margin-bottom: 0;
}


@font-face {
    font-family:'Source Sans Pro';
    font-style:normal;
    font-weight:400;
    src:url("../fonts/SourceSansPro-Regular.eot");
    src:url("../fonts/SourceSansPro-Regular.eot?#iefix") format("embedded-opentype"),url("../fonts/SourceSansPro-Regular.ttf") format("truetype")
}

@font-face {
    font-family:'Source Sans Pro';
    font-style:italic;
    font-weight:400;
    src:url("../fonts/SourceSansPro-It.eot");
    src:url("../fonts/SourceSansPro-It.eot?#iefix") format("embedded-opentype"),url("../fonts/SourceSansPro-It.ttf") format("truetype")
}

@font-face {
    font-family:'Source Sans Pro';
    font-style:normal;
    font-weight:600;
    src:url("../fonts/SourceSansPro-Semibold.eot");
    src:url("../fonts/SourceSansPro-Semibold.eot?#iefix") format("embedded-opentype"),url("../fonts/SourceSansPro-Semibold.ttf") format("truetype")
}

@font-face {
    font-family:'Source Sans Pro';
    font-style:italic;
    font-weight:600;
    src:url("../fonts/SourceSansPro-SemiBoldIt.eot");
    src:url("../fonts/SourceSansPro-SemiBoldIt.eot?#iefix") format("embedded-opentype"),url("../fonts/SourceSansPro-SemiBoldIt.ttf") format("truetype")
}

@font-face {
    font-family:'Source Sans Pro';
    font-style:normal;
    font-weight:700;
    src:url("../fonts/SourceSansPro-Bold.eot");
    src:url("../fonts/SourceSansPro-Bold.eot?#iefix") format("embedded-opentype"),url("../fonts/SourceSansPro-Bold.ttf") format("truetype")
}

@font-face {
    font-family:'Source Sans Pro';
    font-style:italic;
    font-weight:700;
    src:url("../fonts/SourceSansPro-BoldIt.eot");
    src:url("../fonts/SourceSansPro-BoldIt.eot?#iefix") format("embedded-opentype"),url("../fonts/SourceSansPro-BoldIt.ttf") format("truetype")
}

hr {
    clear: both;
    margin: 10px 0;
    border-color: #ddd
}

h1 {
    font-size: 20px;
    color: #0D68A1
}

h2 {
    font-size: 18px
}

h3 {
    font-size: 16px;
    margin-bottom: 25px
}

h4 {
    font-size: 14px
}

h5 {
    font-size: 12px
}

h3,h4,h5,h6 {
    color: #555;
    font-weight: bold;
    padding: 10px 0px
}

.small {
    font-size: 11px
}

a {
    color: #0D68A1
}

a:hover,a:focus,a:active,a.active {
    box-shadow: none
}

a:focus,a:active,a.active,a.active:focus {
    outline: 1px dotted
}

a:hover,a.active:hover {
    color: #132F50
}

.font-size-10 {
    font-size: 10px !important
}

.font-size-11 {
    font-size: 11px !important
}

.font-size-12 {
    font-size: 12px !important
}

.font-size-13 {
    font-size: 13px !important
}

.font-size-14 {
    font-size: 14px !important
}

.font-size-15 {
    font-size: 15px !important
}

.font-size-16 {
    font-size: 16px !important
}

.font-size-17 {
    font-size: 17px !important
}

.font-size-18 {
    font-size: 18px !important
}

.font-size-19 {
    font-size: 19px !important
}

.font-size-20 {
    font-size: 20px !important
}

.font-size-21 {
    font-size: 21px !important
}

.font-size-22 {
    font-size: 22px !important
}

.font-size-23 {
    font-size: 23px !important
}

.font-size-24 {
    font-size: 24px !important
}

.bold-font {
    font-weight: bold !important
}
